.DailyWrapper {
   height: 320px;
   width: 835px;
   background-color: pink;
}

.DailyTitle {
   position: absolute;
   margin-left: 20px;
   padding-top: 15px;
   padding-bottom: 20px;
}

// .recharts-legend-wrapper {
//    position: relative;
//    top: 10px;
// }

// .DailyBar {
//    height: 320px;
//    width: 835px;
// }

// .recharts-legend-wrapper {
//    height: 50px;
//    position: absolute;
//    top: 10px;
// }
